/* styles.css */


/* Book Detail Section */
.book-detail-section {
    padding: 5rem 0;
    background-color: white;
}

.book-header {
    display: flex;
    margin-bottom: 3rem;
}

.book-cover {
    width: 200px;
    height: 300px;
    background-color: var(--light-gray);
    margin-right: 2rem;
}

.book-info {
    flex: 1;
}

.book-description, .donor-details, .availability-status, .extra-features {
    margin-bottom: 3rem;
}

.action-buttons {
    margin-bottom: 3rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    background-color: var(--bisque);
    color: var(--dark-gray);
    margin-right: 1rem;
}

.btn:hover {
    background-color: var(--dark-bisque);
}

.btn.disabled {
    background-color: var(--light-gray);
    color: var(--secondary-gray);
    cursor: not-allowed;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .book-header {
        flex-direction: column;
        align-items: center;
    }

    .book-cover {
        margin: 0 0 1rem 0;
    }
}
